{% extends 'base_about.html' %}

{% block title %} About Us {% endblock %}

{% block main %}

<div class="shadow p-3 mb-5 bg-body rounded" style="flex:4;">
  <h1>Contact Us</h1>
  <form method="post">
      {{form.hidden_tag()}} <!--This creates our csrf token -->
      {{form.name.label(class="form-label")}}
      {{form.name(class="form-control")}}
      {{form.email.label(class="form-label")}}
      {{form.email(class="form-control")}}
      {{form.message.label(class="form-label")}}
      {{form.message(class="form-control")}}
      <br/>
      {{form.submit(class="btn btn-primary")}} 
  </form>
</div>    

{% endblock %}
