{% extends 'base_home.html' %}

{% block title %} About Us {% endblock %}

{% block main %}

<div class="jumbotron jumbotron-fluid" style="background-image: url('../static/assets/about.PNG');">
    <div class="container">
        <h1 class="display-4" style="color: white; font-weight: bold;">Farosmel Pizza</h1>
      <p class="lead"></p>
      <a href="/menu" class="btn btn-primary btn-lg">Contact Us</a>
    </div>
  </div>

<div class="about">
    <h1>About Us</h1>

    <p>Welcome to our pizza delivery restaurant! We are a family-owned business that has been serving delicious pizza to our local community for over 20 years.</p>

    <p>At our restaurant, we pride ourselves on using only the freshest ingredients to create our signature pizzas. Each pizza is made-to-order and cooked in our brick oven for the perfect crispy crust.</p>

    <p>In addition to our classic pizza options, we also offer a variety of specialty pizzas, including vegetarian and gluten-free options.</p>

    <p>Our commitment to quality doesn't stop with our food. We also provide exceptional customer service to ensure that each and every one of our customers has a great experience with us.</p>

    <p>So why not give us a try? Order online or give us a call to enjoy delicious, authentic pizza delivered straight to your door.</p>
</div>
{% endblock %}
