{% extends 'base_home.html' %}

{% block title %} Book Car {% endblock %}

{% block main %}

<!--This loops through the flash message -->
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    <div class="shadow p-3 mb-5 bg-body rounded" style="flex:4;">
        <form method="post" >
            {{form.hidden_tag()}} <!--This creates our csrf token -->
            {{form.name.label(class="form-label")}}
            {{form.name(class="form-control")}}
            {{ form.pickup_date.label(class="form-label")}}
            {{ form.pickup_date(class="form-control datepicker")}}
            {{ form.return_date.label(class="form-label")}}
            {{form.return_date(class="form-control datepicker")}}
            <br/>
            {{form.submit(class="btn btn-primary")}} 
        </form>
    </div>    



{% endblock %}
