<!DOCTYPE html>
<html lang="english">
  <head>
    <title>exported project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
      data-tag="font"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style3.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style1.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cart_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add_cart_style.css') }}">
    <!-- Include Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">

  </head>
  <body>
    <div>
      <link href="{{ url_for('static', filename='css/mainframephone.css') }}" rel="stylesheet" />

      <div class="mainframephone-container">
        <div class="mainframephone-mainframephone">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{url_for('main.index')}}">Zeus Speed</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="{{url_for('main.index')}}">Home</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="{{url_for('main.menu_base')}}">Vehicles</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('main.dashboard')}}">Book Vehicle</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('main.about')}}">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('main.contact')}}">Contact</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('main.terms')}}">Terms & Conditions</a>
                </li>
              </ul>
              <div class="container-fluid-options">
                <a href="{{url_for('main.add_user')}}">
                  <button class="btn btn-outline-success me-2" type="button">Sign Up</button>
                </a>
                <a href="{{url_for('main.login')}}">
                  <button class="btn btn-sm btn-outline-secondary" type="button">Login</button>
                </a>
              </div>
          </nav>
          <img
            src="/static/assets/public1/playground_assets/navhead2866-3jnm-200h.png"
            alt="navhead2866"
            class="mainframephone-navhead"
          />
          <img
            src="/static/assets/public1/playground_assets/hero2866-03q-400h.png"
            alt="hero2866"
            class="mainframephone-hero"
          />
          <div class="mainframephone-bookbutton">
            <div class="mainframephone-buttontext">
              <span class="mainframephone-text"><span>View All</span></span>
            </div>
          </div>
          <div class="mainframephone-headerad">
            <span class="mainframephone-text02">
              <span>Book a vehicle at vehicle today.</span>
            </span>
            <span class="mainframephone-text04">
              <span>
                We offer premium car booking services at affordable rates.
                Browse our gallery to see vehicles available and book a vehicle
                today!
              </span>
            </span>
          </div>
          <img
            src="/static/assets/public1/playground_assets/workframe2984-2bxt-400w.png"
            alt="workframe2984"
            class="mainframephone-workframe"
          />
          <div class="mainframephone-footerframe">
            <div class="mainframephone-site-logo">
              <img
                src="/static/assets/public1/playground_assets/line3i287-nhbk.svg"
                alt="Line3I287"
                class="mainframephone-line3"
              />
              <img
                src="/static/assets/public1/playground_assets/line4i287-jsx.svg"
                alt="Line4I287"
                class="mainframephone-line4"
              />
              <img
                src="/static/assets/public1/playground_assets/line5i287-obts.svg"
                alt="Line5I287"
                class="mainframephone-line5"
              />
              <span class="mainframephone-text06">
                <span class="mainframephone-text07">Site</span>
                <span>Logo</span>
              </span>
            </div>
            <div class="mainframephone-subscribe2">
              <img
                src="/static/assets/public1/playground_assets/rectangle80i287-0b54-200h.png"
                alt="Rectangle80I287"
                class="mainframephone-rectangle80"
              />
              <span class="mainframephone-text09">
                <span>Enter your email Address</span>
              </span>
              <div class="mainframephone-frame39">
                <span class="mainframephone-text11">
                  <span>Get Started</span>
                </span>
              </div>
            </div>
            <div class="mainframephone-menufooter2">
              <span class="mainframephone-text13"><span>About</span></span>
              <span class="mainframephone-text15"><span>Features</span></span>
              <span class="mainframephone-text17"><span>Pricing</span></span>
            </div>
            <span class="mainframephone-text19">
              <span>Let's do it!</span>
            </span>
            <div class="mainframephone-group12">
              <img
                src="/static/assets/public1/playground_assets/social2880-yy5.svg"
                alt="social2880"
                class="mainframephone-social"
              />
              <img
                src="/static/assets/public1/playground_assets/social2880-q457.svg"
                alt="social2880"
                class="mainframephone-social1"
              />
              <img
                src="/static/assets/public1/playground_assets/social2880-8pds.svg"
                alt="social2880"
                class="mainframephone-social2"
              />
              <img
                src="/static/assets/public1/playground_assets/social2880-inu.svg"
                alt="social2880"
                class="mainframephone-social3"
              />
              <div class="mainframephone-social4">
                <img
                  src="/static/assets/public1/playground_assets/instagrami288-qlxb.svg"
                  alt="instagramI288"
                  class="mainframephone-instagram"
                />
              </div>
              <img
                src="/static/assets/public1/playground_assets/social2880-xt3.svg"
                alt="social2880"
                class="mainframephone-social5"
              />
            </div>
            <img
              src="/static/assets/public1/playground_assets/shapes000022880-6tu-200h.png"
              alt="Shapes000022880"
              class="mainframephone-shapes00002"
            />
            <span class="mainframephone-text21">
              <span>Start work today</span>
            </span>
            <span class="mainframephone-text23">
              <span>
                High level experience in web design and development knowledge,
                producing quality work.
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="static/js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
     <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Include Bootstrap Datepicker JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script>
      // Initialize Bootstrap Datepicker for date fields with 'datepicker' class
      $('.datepicker').datepicker({
          format: 'yyyy-mm-dd',  // Update the date format to match your needs
          autoclose: true,
          todayHighlight: true
      });
    </script>
  </body>
</html>
