{% extends'base_dashboard.html' %}

{% block title %} Dashboard {% endblock %}

{% block main %}
  
<!--This loops through the flash message -->
 <!--This loops through the flash message -->
  {% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}

  {% for car in cars %}
  <div class="menu-card">
    <div class="category-name">{{ car.name }}</div>
    <div class="category-description">{{ car.category }}<p>{{ car.description }}</br>{{ car.price }}</p></div>
    </br>
    <a class="view-menu-btn" href="{{ url_for('main.add_to_cart', id=car.id) }}">Book Car</a>
  </div>
  {% endfor %}


{% endblock %}