{% extends 'base_home.html' %}

{% block title %} Menu Items {% endblock %}


{% block main %}

    <!--This loops through the flash message -->
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    {% for item in cars %}
    <div class="menu-card">
        <div class="category-name">{{item.name}}</div>
        <div class="category-description">{{item.category}}<p>{{item.description}}</br>{{item.price}}</p></div>
     </br>
     <a class="view-menu-btn" href="{{ url_for('main.add_to_cart', id =item.id) }}">View Items</a>  
    </div>
    
   
    {% endfor %}


{% endblock %}