{% extends 'base_home.html' %}

{% block title %} Services {% endblock %}


{% block main %}

    <!--This loops through the flash message -->
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{message}}
            <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    {% for vehicle in vehicles %}

    <div class="menu-card">
        <div class="category-name">{{vehicle.name}}</div>
        <div class="category-description">{{vehicle.category}}<p>{{vehicle.description}}</p></div>
     </br>
     <a class="view-menu-btn" href="{{ url_for('main.items', category=vehicle.category) }}">View Items</a>  
    </div>
    
    {% endfor %}


{% endblock %}