{% extends 'base_about.html' %}

{% block title %} Terms and Conditions {% endblock %}

{% block main %}
  <div class="card">
    <div class="card-body">
      <p class="card-text">By using our car booking service, you agree to the following terms and conditions:</p>
      <ul>
        <li>Our car rental service is for personal use only. You may not use the rental car for commercial purposes.</li>
        <li>You must be at least 21 years old to rent a car from us.</li>
        <li>You must have a valid driver's license and a major credit card in your name to rent a car.</li>
        <li>You are responsible for any damage to the rental car during the rental period.</li>
        <li>You will be charged a fee if you return the rental car late or in a different location than where you picked it up.</li>
        <li>We reserve the right to cancel your rental reservation if you violate any of our terms and conditions.</li>
        <li>We are not responsible for any personal belongings left in the rental car.</li>
      </ul>
      <p class="card-text">If you have any questions or concerns about our terms and conditions, please contact us.</p>
    </div>
  </div>

{% endblock %}
